body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: linear-gradient(
    107.56deg,
    #47c44c 12.89%,
    rgba(186, 29, 29, 0.79) 46.85%,
    rgba(50, 115, 151, 0.89) 64.61%,
    rgba(114, 28, 255, 0.74) 100%
  );
  background-repeat: no-repeat;
  height: 1020px;
}

#new-game {
  width: 298px;
  height: 92px;
  font-size: 40px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
}

#new-game:hover {
  background-color: #0e1ea9;
  letter-spacing: 2px;
  color: white;
}

#new-game:active {
  transform: scale(1.25, 1.25);
}

hr {
  width: 500px;
}

#board {
  width: 600px;
  height: 600px;
  background-color: #5f5c59;
  border: 5px solid #2a2927;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 140px;
  height: 140px;
  border: 5px solid #3e3628;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* colors*/
.x2 {
  background-color: #abcded;
  color: white;
}

.x4 {
  background-color: #5ac1ed;
  color: white;
}

.x8 {
  background-color: #1487b8;
  color: white;
}
.x16 {
  background-color: #4d2182;
  color: white;
}

.x32 {
  background-color: #4799eb;
  color: white;
}

.x64 {
  background-color: #105293;
  color: white;
}

.x128 {
  background-color: #1670ca;
  color: white;
}

.x256 {
  background-color: #0f6c95;
  color: white;
}

.x512 {
  background-color: #105293;
  color: white;
}

.x1024 {
  background-color: #0c3d6e;
  color: white;
}

.x2048 {
  background-color: #d37722;
  color: white;
  box-shadow: 0px 10px 40px 30px #d37722;
}

.x4096 {
  background-color: #d37722;
  color: white;
}

.x8192 {
  background-color: black;
  color: white;
}
